backend/CodexCollector.API/obj/*
backend/CodexCollector.Core/obj/*
backend/CodexCollector.Data/obj/*
backend/CodexCollector.API/bin/*
backend/CodexCollector.Core/bin/*
backend/CodexCollector.Data/bin/*
node_modules/*